{% extends 'app/base.html' %}
{% load static %}
{% block title %}Paseo{% endblock %}
{% block content %}
 <div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Bem vindo ao PASEO!</h1>
      <p class="lead">Um webapp para você conhecer coleguinhas e melhorar seu transporte diário.</p>
    </div>
  </div>
  <div class="row">



          </div>
            <h2>SOBRE NÓS </h2>
      <br>
      <br>
            <h5>Nosso site foi desenvolvido em Django e usa dados cadastrados pelo usuário para criar pontes entre as pessoas a fim de que se conheçam melhor e gerem caronas</h5>
          </div>

      </div>
 </div>
{% endblock %}